<!DOCTYPE HTML>
<html>
  <head>
    <title>nodeVueExample</title>
  </head>
  <body>
    <h1>leancloud vue example,{{message}}</h1>
    <input v-model="message"/>
    <script type="text/javascript" src='/js/build.js'></script>
  </body>
</html>
